<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">DEV-Blog</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
             <li><a href="/">HOME</a></li>
            <li><a href="/stories">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="#">Login/Signup</a></li>
            <li><a href="/auth/logout">Logout</a></li>
             <li><a href="/test">ADMIN</a></li>
 <h3>copyright@Aditya</h3>
        </ul>
       
    </div>
</nav>